.work-overview {
  display: grid;
  margin: 0;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}

.work-item {
  display: flex;
  flex-direction: row;
  padding: 15px 15px 30px;
  border-bottom: 2px solid #c13b77;
  background-color: var(--color-item);
}

.work-image {
  width: 100px;
  height: 100px;
  padding-right: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

.work-info h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

.work-author {
  color: #c13b77;
  font-size: 14px;
}

.load-more-button {
  display: block;
  padding: 10px 20px;
  border: none;
  margin: 20px 0;
  background-color: #c13b77;
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
}

.load-more-button:hover {
  background-color: #a52b63;
}

.work-title-link {
  color: inherit !important;
  text-decoration: none !important;
}

.work-title-link:hover,
.work-title-link:focus {
  color: inherit !important;
  text-decoration: none !important;
}

@media (width <= 768px) {
  .work-overview {
    grid-template-columns: 1fr;
  }

  .work-item {
    flex-direction: column;
    padding: 15px;
  }

  .work-image {
    width: 100%;
    height: auto;
    padding-right: 0;
    margin-bottom: 15px;
  }
}

.image-modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 80%);
}

.modal-image {
  display: block;
  max-width: 90%;
  max-height: 90%;
  border: 5px solid white;
  margin: auto;
  box-shadow: 0 0 10px rgb(255 255 255 / 80%);
  object-fit: cover;
}
